app/eittaweb/media/*
app/eittaweb/static/*


volume/app/db/*
volume/media/mokeb/*
volume/media/post/*
volume/media/uploadimage/*

volume/static/*

volume/mysql/backup/*
volume/mysql/data/*

volume/wordpress/wp-admin/*
volume/wordpress/wp-content/*
volume/wordpress/wp-includes/*
volume/wordpress/*.php



