asgiref==3.6.0
Django==4.1.6
django-ranged-response==0.2.0
django-ratelimit==4.0.0
django-simple-captcha==0.5.17
fontawesomefree==6.3.0
gevent==22.10.2
greenlet==2.0.2
gunicorn==20.1.0
Pillow==9.4.0
psycopg2==2.9.5
ratelimit==2.2.1
sqlparse==0.4.3
tzdata==2022.7
zope.event==4.6
zope.interface==6.0
